@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animation */


@media (min-width: 768px) {

    .slide-top {
        -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        opacity: 1;
    }
    .slide-top-out {
        -webkit-animation: slide-top-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-top-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        opacity: 0;
    }
    .slide-right {
        -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .slide-right-out {
        -webkit-animation: slide-right-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-right-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
  @keyframes slide-top {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
 @-webkit-keyframes slide-top-out{
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        opacity: 0;
    }
}
@keyframes slide-top-out{
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        opacity: 0;
    }
}
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
  }
  @keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
  }
  @keyframes slide-right-out {
    0% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
  }

/* Alerts */
.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}